h1 {
  font-family:'Black Ops One';
  font-size:75px;
  letter-spacing:5px;
}

p,
h2,
li {
  font-family:'Black Ops One';
  color:black;
}

h3 {
  font-family:'Permanent Marker';
}

.cap {
  font-family:'Black Ops One';
  border: 3px solid black;
  border-radius: 5px;
}

.endfloyd {
  text-align: center;
  color: red;
  border: 4px solid red;
  border-radius: 3px;
  text-width: 150%;
}

.ptrt {
  transform: rotate(90deg);
}

.godzilla img {
  max-width: 100%;
  height: auto;
  image-orientation: from-image;
}
